@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: BagelFatOne;
  src: url('../assets/fonts/BagelFatOne.woff') format('woff');
  src: url('../assets//fonts//BagelFatOne.woff2') format('woff2');
}

/* 토스트 메세지 테두리용 css */
.interestToastWrapper {
  background-color: #7537e3 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: none !important;
}
/* 토스트 메세지 내부용 css */
.interestToast {
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 12px;
}

/* 사용법
toast() : 기본 일반 메시지
toast.success() : 성공 메시지 (초록바)
toast.error()
toast.info() : 파란색
tast.warning() : 경고 (주황색)

위에 테두리용, 내부용을 각각 지정해줘야합니다. 다른 방법도 있는데 그건 검색해서 사용해주세요 (vue3-toastify 검색)
npm vue3-toastify
*/

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #191919;
}

html.dark {
  color: white;
  background-color: #191919;
}
