@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

body,
#app {
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #191919;
}

html.dark {
  color: white;
  background-color: #262626;
}
